---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","KeyConditions":{"name":{"AttributeValueList":[{"S":"Person
        2"}],"ComparisonOperator":"EQ"}},"IndexName":"name-index"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20141231T085539Z
      X-Amz-Content-Sha256:
      - ff6d076e5a2413b9a7418bff017d084acec8dd4d4c60130cdec7a10d31bbb509
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141231/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d5f28292bfc3a2fd70c69cbb4db87b15087f92b1b4b4f656036db8005c4a3854
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - KSCIU2Q8KNE6JDTJO67BT0FAVFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2069429624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 2"},"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}}],"ScannedCount":1}'
  recorded_at: Wed, 31 Dec 2014 08:55:41 GMT
recorded_with: VCR 2.9.3
