---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","KeyConditions":{"id":{"AttributeValueList":[{"S":"1"}],"ComparisonOperator":"EQ"}},"Limit":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20150130T111049Z
      X-Amz-Content-Sha256:
      - b4af37d38eefd1f8a6ea35316c1143ed40ac770879fa9925828593c4f2455dca
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJGUSFVPIJ4LHTPCQ/20150130/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=862d4ed0954b52d2c174e0791703cbbf51ac87571bc7adcbc9d409145579a618
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - EHME68LLV5620M22V46CER32DRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2443797734'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"created_at":{"S":"2015-01-28T14:37:01+08:00"},"id":{"S":"1"}}],"LastEvaluatedKey":{"created_at":{"S":"2015-01-28T14:37:01+08:00"},"id":{"S":"1"}},"ScannedCount":1}'
  recorded_at: Fri, 30 Jan 2015 11:10:50 GMT
recorded_with: VCR 2.9.3
