---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","KeyConditions":{"id":{"AttributeValueList":[{"S":"1"}],"ComparisonOperator":"EQ"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20150130T102746Z
      X-Amz-Content-Sha256:
      - f04e6fb149222c33132f14b3dd507d21d3deae8d7d2458d4bfd9466dfc628bbb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJGUSFVPIJ4LHTPCQ/20150130/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=9dbda708e3aac989811b21e1c0a6b8069c3849f4094f06b9c35e5fff12446e17
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - J514T624ES4EIPC5UT4CD53G83VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2876920674'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":2,"Items":[{"created_at":{"S":"2015-01-28T14:37:01+08:00"},"id":{"S":"1"}},{"created_at":{"S":"2015-01-29T14:36:59+08:00"},"id":{"S":"1"}}],"ScannedCount":2}'
  recorded_at: Fri, 30 Jan 2015 10:27:48 GMT
recorded_with: VCR 2.9.3
