---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","KeyConditions":{"id":{"AttributeValueList":[{"S":"1"}],"ComparisonOperator":"EQ"},"created_at":{"AttributeValueList":[{"S":"2015-01-28T14:37:01+08:00"}],"ComparisonOperator":"EQ"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20150130T100706Z
      X-Amz-Content-Sha256:
      - cb65882116db16faf18fa6cfb02eb793e9952156441a23509c56b3dcc37abd33
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJGUSFVPIJ4LHTPCQ/20150130/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=f5607d39d690a827090479181c8a2e5a750248cf153058a03b4a9ee1bac83d26
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - G5A2V2VA4B1KG5RCJ2L64I9I67VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4076139363'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"created_at":{"S":"2015-01-28T14:37:01+08:00"},"id":{"S":"1"}}],"ScannedCount":1}'
  recorded_at: Fri, 30 Jan 2015 10:07:07 GMT
recorded_with: VCR 2.9.3
