---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","KeyConditions":{"name":{"AttributeValueList":[{"S":"Person
        2"}],"ComparisonOperator":"EQ"}},"IndexName":"name-index"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20141230T174626Z
      X-Amz-Content-Sha256:
      - ff6d076e5a2413b9a7418bff017d084acec8dd4d4c60130cdec7a10d31bbb509
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=41448d48d1b16349a3590fadafd1b3fc1c8bd4e64ea3b287e5788911fc7f99b1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - K0P163T0F8125CN8IVSLMT4FBRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2069429624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 2"},"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}}],"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 17:46:30 GMT
recorded_with: VCR 2.9.3
