---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T092846Z
      X-Amz-Content-Sha256:
      - 6b49d20fcb27fd897ef45be7009906c2ac9d0dc568198821f1558d21cd36281c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=161f848fca2bdb184875e436f70d2fd8301e4e54610fca035907701054044e2e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - NJGRM0J73MACQALSP2DNONVIORVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3594998149'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":3,"Items":[{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}},{"name":{"S":"Person
        2"},"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}},{"name":{"S":"Person
        3"},"id":{"S":"1f1124dc-6ad7-4296-a243-ff58a0a09416"}}],"ScannedCount":3}'
  recorded_at: Tue, 30 Dec 2014 09:28:47 GMT
recorded_with: VCR 2.9.3
