---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"}],"TableName":"thread_ranges","KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":20,"WriteCapacityUnits":20}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20150124T110904Z
      X-Amz-Content-Sha256:
      - 1549ae65e389bdb2885dbee28862b9229af7db3eead7fd794796a2b263bc3ea3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=028bd3f2ef91e502f167a415af319492144ce2c2c149255b8148c26eca97a757
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3ITDF8KQQS7D7R4TST6LO2ICSFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1190710576'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"}],"CreationDateTime":1.42209774725E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"thread_ranges","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:09:05 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"thread_ranges"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20150124T110905Z
      X-Amz-Content-Sha256:
      - 4205c006ddf44314b65f600c08e297dfcf966854b81659a488578473f953e7a2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d0dd05bd306a67b0e95ea329f5e83a4b0150a092ad688e2c052e11db334947a1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - QIJL6QE6KFUO8E3R662E26MCJJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4070158827'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"}],"CreationDateTime":1.42209774725E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"thread_ranges","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:09:06 GMT
recorded_with: VCR 2.9.3
