---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Key":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20141230T053939Z
      X-Amz-Content-Sha256:
      - 11a49d1d6421d3540cf7a7c96423eb631d8b8de996d5069f178a631eea8d8e01
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=fcf88dcdbfdfaf7823b478e10e402bc05571dfeffe3e39edc588d4199cc2a318
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 57MJJPT0NUE6TP8N2IR82EBQO3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3713739097'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"name":{"S":"A person"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
  recorded_at: Tue, 30 Dec 2014 05:39:41 GMT
recorded_with: VCR 2.9.3
