---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"TableName":"noindexcities","KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"ReadCapacityUnits":20,"WriteCapacityUnits":20}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20141231T083114Z
      X-Amz-Content-Sha256:
      - 84495bafc50679465f581061021cb3866c6769a31efeecd7654dc3d59c33200e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141231/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=04e1bd2d7bc7eae702847b952573d931f52210c30731d8263692bc22e7a3d892
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - JIEG7NGOH2VFG0SPHNI6V79IA3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '790699342'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.420014676573E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"noindexcities","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 31 Dec 2014 08:31:16 GMT
recorded_with: VCR 2.9.3
