---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Key":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20150116T135102Z
      X-Amz-Content-Sha256:
      - 11a49d1d6421d3540cf7a7c96423eb631d8b8de996d5069f178a631eea8d8e01
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150116/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=594884042c1dd7c46b5175963fe80f13770a4426946f3cfa8d4e6d1ef9c86c31
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - TJP2MAAV789JHBGT3EK4MC4NQRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3221367258'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
  recorded_at: Fri, 16 Jan 2015 13:51:04 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Key":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20150116T135105Z
      X-Amz-Content-Sha256:
      - 11a49d1d6421d3540cf7a7c96423eb631d8b8de996d5069f178a631eea8d8e01
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150116/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=6cdf950bda59fa02691f3099a8035a676ee82cb979861271b12a96badf550f5c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - IUSDC4UFAN1QUAH8PUCH4VASFVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 16 Jan 2015 13:51:05 GMT
recorded_with: VCR 2.9.3
