---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","ConditionExpression":"id \u003c\u003e :s","ExpressionAttributeValues":{":s":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}},"Item":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"},"name":{"S":"New
        item"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20141231T073205Z
      X-Amz-Content-Sha256:
      - 9e4361e2befce52eb053eb686729d4f00f1d83c5c59b843e0847730d1f834220
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141231/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d318d5d5de8f70e2069998880a9e6b88f1da8e3a02d603279e8ef1877694abc9
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - SUGH7KKU84JKAGCR7J7325KU7JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '396270901'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ConditionalCheckFailedException","message":"The
        conditional request failed"}'
  recorded_at: Wed, 31 Dec 2014 07:32:07 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Key":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20141231T073207Z
      X-Amz-Content-Sha256:
      - 11a49d1d6421d3540cf7a7c96423eb631d8b8de996d5069f178a631eea8d8e01
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141231/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=5ccd0bc274256ba4b381cf8eca3ee632116ae6c6190a020d8f312521b93b86a9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - OIB1EJ78226KETIIF4467LPCKFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3221367258'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
  recorded_at: Wed, 31 Dec 2014 07:32:08 GMT
recorded_with: VCR 2.9.3
