---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"TableName":"threads","KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"ReadCapacityUnits":20,"WriteCapacityUnits":20}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20150124T111418Z
      X-Amz-Content-Sha256:
      - 0bf704b7d071252f685fe1ce9e08be1311c1535edb5bda3efed826fb06949419
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=be559252fddfd54c11c62bb6188458b8963e0b8540912edabdd68571e5794b63
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - BVQ209B5P481EI2F7K6GSCQLSNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1561182549'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.422098061332E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"threads","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:14:20 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"threads"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20150124T111420Z
      X-Amz-Content-Sha256:
      - 4741f2f58966ebef8de1e20fd90fde3a27d8376bcb610777773e35ade0f320cc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=7af925efe27fcb9ac1b10a82901cd2cc61d0b387465be9afee56069b36001ced
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1HG6QUTAQ7789RO3TPJO0BF98RVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3334465804'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.422098061332E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"threads","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:14:22 GMT
recorded_with: VCR 2.9.3
