---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","Key":{"id":{"S":"369a0862-5dee-441a-b438-1fb17af2d484"},"created_at":{"S":"2015-01-24T22:15:42+08:00"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20150124T143941Z
      X-Amz-Content-Sha256:
      - 17e5ae148907c65927f204296d31bccfdfc6aa5c09c7485e0b8008dda0660623
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=e04aad97f5bf39a18db181be28ceb5cfa5280e750f45de84212ea4e552b2a96f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - DC56KPCUJHQ5BHBE01S2JS4BFBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3732177927'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"created_at":{"S":"2015-01-24T22:15:42+08:00"},"name":{"S":"A
        person"},"id":{"S":"369a0862-5dee-441a-b438-1fb17af2d484"}}}'
  recorded_at: Sat, 24 Jan 2015 14:39:44 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","Key":{"id":{"S":"369a0862-5dee-441a-b438-1fb17af2d484"},"created_at":{"S":"2015-01-24T22:15:42+08:00"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20150124T143945Z
      X-Amz-Content-Sha256:
      - 17e5ae148907c65927f204296d31bccfdfc6aa5c09c7485e0b8008dda0660623
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d393dca89c02b13f05d8370fdf5b067d0e3384303ffd7796e8c56f51346eed70
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - KLGVS0MTQBA47BBIV11R31L5OBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 24 Jan 2015 14:39:46 GMT
recorded_with: VCR 2.9.3
