---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Key":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
      X-Amz-Date:
      - 20141231T072158Z
      X-Amz-Content-Sha256:
      - 11a49d1d6421d3540cf7a7c96423eb631d8b8de996d5069f178a631eea8d8e01
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141231/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=c8f303b4b0b133053cc2efe7f669e0fa82522778902adc796497ac947416887b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - MGQQ63GBV5B4O1I0QMLAAH6N6BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3221367258'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
  recorded_at: Wed, 31 Dec 2014 07:21:59 GMT
recorded_with: VCR 2.9.3
