---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"},{"AttributeName":"created_at","AttributeType":"S"}],"TableName":"thread_indices","KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":20,"WriteCapacityUnits":20},"LocalSecondaryIndexes":[{"IndexName":"created_at-index","KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"created_at","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20150124T110934Z
      X-Amz-Content-Sha256:
      - 907908fb9e5f171267453ab9a0a1b7013694a5ac6dbe61cb2239331994acfbef
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=3bfe9ecfccf778d7e288c9b6aab32b8c113e7f80d2781363b29775d6b8339960
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - Q652I5VS2FGID189QR40DFF8LBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3601382926'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"created_at","AttributeType":"S"},{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"}],"CreationDateTime":1.422097779164E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"LocalSecondaryIndexes":[{"IndexName":"created_at-index","IndexSizeBytes":0,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"created_at","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"thread_indices","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:09:37 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"thread_indices"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20150124T110937Z
      X-Amz-Content-Sha256:
      - a8f8f93d93e861a00ac6994f621264e471cee884ceb7b3786ec48f8cb99ac8d2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150124/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=e8be543a657bfbbc3f04fff5b486260ff4030b67439726ccb13d53fa315742a1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - MALSOL31HA99VF0NG5EURHVSGNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1602081351'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"created_at","AttributeType":"S"},{"AttributeName":"id","AttributeType":"S"},{"AttributeName":"subject","AttributeType":"S"}],"CreationDateTime":1.422097779164E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"subject","KeyType":"RANGE"}],"LocalSecondaryIndexes":[{"IndexName":"created_at-index","IndexSizeBytes":0,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"},{"AttributeName":"created_at","KeyType":"RANGE"}],"Projection":{"ProjectionType":"ALL"}}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":20,"WriteCapacityUnits":20},"TableName":"thread_indices","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Sat, 24 Jan 2015 11:09:38 GMT
recorded_with: VCR 2.9.3
