---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T114320Z
      X-Amz-Content-Sha256:
      - 54df2dd883b3a165a22f71b0ace6b8db25d947ebf52c1502cc59c38de8a1a3c4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=9aa8e0e1374b79fc861fb2b4c9534861fb269cf85b6967b9ae22eec6a6c9895c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6H7IQESE78OADNCNO179BQUP2NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3317214002'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}],"LastEvaluatedKey":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}},"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 11:43:21 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1,"ExclusiveStartKey":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T114321Z
      X-Amz-Content-Sha256:
      - e819b0d48e930bfcd8fa67f016c63b87a72ec1d75829eb3c81c57645c0d8c9c7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=5ab8843d3e4502c5ab30590e68bfdfd34ae58bd007c651d653dc064ee2500bbf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - NC9IRQEMK8IGGDLU14N5F5AR4BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1677251292'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 2"},"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}}],"LastEvaluatedKey":{"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}},"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 11:43:22 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1,"ExclusiveStartKey":{"id":{"S":"1f1124dc-6ad7-4296-a243-ff58a0a09416"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T114323Z
      X-Amz-Content-Sha256:
      - 24a50d2c5db473d163812ccea71a63b34894d31764195f0f94a1f6c20c6a22d3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=4a2f375299086a49b354764cdf8cf847295bc4d16d09470eea1f91b77a11ee5d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - QPE6Q7QN9P4OSLIHGKQR89AO5RVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Tue, 30 Dec 2014 11:43:24 GMT
recorded_with: VCR 2.9.3
