---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T113107Z
      X-Amz-Content-Sha256:
      - 54df2dd883b3a165a22f71b0ace6b8db25d947ebf52c1502cc59c38de8a1a3c4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=6a05c2d852d5bd1cbb3edd51845ada968cc7948a3aa3751ffeb479bc2befa588
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - A038LGMSC7700DJC71SIHSVKBJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3317214002'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}],"LastEvaluatedKey":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}},"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 11:31:08 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1,"ExclusiveStartKey":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T113108Z
      X-Amz-Content-Sha256:
      - e819b0d48e930bfcd8fa67f016c63b87a72ec1d75829eb3c81c57645c0d8c9c7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=aa2baa7e97be474e4521f71bdef903678e2ef99537c8def2cc9ffe01fdea81a0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - LB57M1RU35KRNMS45Q2P2I0SDBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1677251292'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 2"},"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}}],"LastEvaluatedKey":{"id":{"S":"611b5bc7-849f-4e0c-b969-5b53b6f2d0e2"}},"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 11:31:10 GMT
recorded_with: VCR 2.9.3
