---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"people","Limit":1}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20141230T112407Z
      X-Amz-Content-Sha256:
      - 54df2dd883b3a165a22f71b0ace6b8db25d947ebf52c1502cc59c38de8a1a3c4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20141230/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=ace3ecb72b192c0d64ed63f431273e81d7ca8094854eb9ef736700e34c4822f0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - OIDG0Q220K5IFBTVIOA663KHG3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3317214002'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"Person 1"},"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}}],"LastEvaluatedKey":{"id":{"S":"f9b351b0-d06d-4fff-b8d4-8af162e2b8ba"}},"ScannedCount":1}'
  recorded_at: Tue, 30 Dec 2014 11:24:09 GMT
recorded_with: VCR 2.9.3
