---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"person_ranges","KeyConditions":{"id":{"AttributeValueList":[{"S":"1"}],"ComparisonOperator":"EQ"}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20150130T064849Z
      X-Amz-Content-Sha256:
      - f04e6fb149222c33132f14b3dd507d21d3deae8d7d2458d4bfd9466dfc628bbb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=key/20150130/us-east-1/dynamodb/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=24eb78d623265f915ae3567662a823c5ad3401f27a63467a96a7a6d4eb3dc042
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3PN8EO8AOFQ287VT9AB45UUPV7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2876920674'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":2,"Items":[{"created_at":{"S":"2015-01-28T14:37:01+08:00"},"id":{"S":"1"}},{"created_at":{"S":"2015-01-29T14:36:59+08:00"},"id":{"S":"1"}}],"ScannedCount":2}'
  recorded_at: Fri, 30 Jan 2015 06:48:50 GMT
recorded_with: VCR 2.9.3
